body{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}
 section{
 	height: 100vh;

 }
 section div{
 	text-align: center;
 }
 section div img{
 	height: 90vh;
 	padding: 5vh 0 5vh 0;

 }

/* 2 */ 

#deux{
	height: 100vh;
}
#deux div{
 	text-align: center;
 }
#deux div img{
 	height: 700px;
 	padding: 5vh 0 5vh 0;

 }